@use "main";
@use "editor";
nav{
    display: flex;
    flex-direction: row-reverse;
    button{
        width: 10%;
    }
}
main{
display: flex;
justify-content: center;
margin-top: 30px;
    img{
        width: 40%;
        height: 40%;
    }
    .container{
        width: 40%;
        margin: auto 100px;
        h2{
            font-size: 32px;
        }
    }
}