<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Projeto</title>
    <link rel="stylesheet" href="./dist/styles/editor.css">
</head>
<body>
    <nav>
        <button>Voltar</button>
    </nav>
    <main> 
        <div class="container">
            <h2>Nome do projeto</h2>
            <textarea name="" id="" cols="30" rows="10" placeholder="Descrição do projeto"></textarea>
            <input type="file" name="" id="" placeholder="Envie sua imagem">
            <button type="submit">Salvar</button>
        </div>
    </main>
</body>
</html>