{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Projeto</title>
    <link rel="stylesheet" href="{% static 'main_site/css/editor.css' %}">
</head>
<body>
    <nav>
        <button id="voltar_button" class="{{projeto.idprojeto}}">Voltar</button>
    </nav>
    <main> 
        <div class="container">
            {% if criacao %}

                <form action="/projeto/criar/performar/" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    {% endfor %}

                    <button type="submit">Salvar</button>
                   
                </form>

            {% else %}
                <form action="/projeto/editar/performar/{{projeto.idprojeto}}/" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    {% endfor %}

                    <button type="submit">Salvar</button>
                </form>
                <button id="excluir_button" type="button" style="margin-top: 8px; background-color: rgb(248, 153, 153);">Excluir</button>
            {% endif %}
        </div>
    </main>
</body>
</html>
<script>
    const voltar_button = document.getElementById('voltar_button')
    const excluir_button = document.getElementById('excluir_button')
    if (voltar_button) voltar_button.addEventListener('click', voltar_button_function)
    const id = voltar_button.classList[0]
    function voltar_button_function() {
        const a = document.createElement('a')
        let b;
        if (!id){
            b = `/`
        } else {
            b =  `/projeto/${id}/`
        }
        a.href = b
        a.click();
    }
    if(excluir_button) excluir_button.addEventListener("click", excluir_button_function)
    function excluir_button_function() {
        const a = document.createElement('a')
        let b;
        if (!id){
            b = `/`
        } else {
            b =  `/projeto/excluir/${id}/`
        }
        a.href = b
        a.click();
    }
</script>