{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if login %}
        <title>Login</title>
    {% else %}
        <title>Registrar</title>
    {% endif %}
    <link rel="stylesheet" href="{%static '/main_site/css/login.css'%}"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% if login %}

            <h1>Inicie a sessão</h1>

            <form action="/auth/" method="post">
                {% csrf_token %}
                {% for field in form %}

                    {{field}}

                {% endfor %}
                <button type="submit">Entrar</button>
            </form>

        {% else %}

            <h1>Registre-se</h1>

            <form action="/perform_register/" method="post">
                {% csrf_token %}
                {% for field in form %}

                    {{field}}
                    {{field.errors}}
                {% endfor %}
                <button type="submit">Registrar</button>
            </form>

        {% endif %}
        
    </div>
</body>
</html>