{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar projeto</title>
    <link rel="stylesheet" href="{% static 'main_site/css/view.css' %}">
</head>
<body>
    <nav>
        <button id="voltar_button">Voltar</button>
    </nav>
    <main>
        <div class="container">
            <h2>{{projeto.titulo}}</h2>
            <textarea name="" id="" cols="60" rows="20" disabled style="background-color: white;">{{projeto.descricao}}</textarea>
            {% if projeto.autor %}
                <button id="editar_button" class="{{projeto.id}}" style="margin-top: 12px;">Editar</button>
            {% endif %}
        </div>
        <img src="{{projeto.imagem.url}}" alt=""/>
    </main>
</body>
</html>
<script>

    const voltar_button = document.getElementById('voltar_button')
    if (voltar_button) voltar_button.addEventListener("click", voltar_button_function)
    function voltar_button_function() {
        const a = document.createElement('a')
        a.href = '{% url "main_site:home" %}'
        a.click();
    }

    const editar_button = document.getElementById('editar_button')
    if (editar_button) editar_button.addEventListener('click', editar_button_function)
    const id = editar_button.classList[0]
    function editar_button_function() {
        const a = document.createElement('a')
        const b =  `/projeto/editar/${id}/`
        a.href = b
        a.click();
    }

</script>